/* footer css */

        body {
            font-family: 'Lato', sans-serif;
            margin: 0;
            padding: 0;
        }

        .footer-container {
            width: 100%;
            background-color: #004080;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* position: fixed; */
            bottom: 0px;
        }

        .footer {
            width: 100%;
            max-width: 1200px;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            text-align: left;
        }
        .footer-bottom img{
          
        }

        .footer-section {
            margin: 10px;
        }

        .footer-section h3 {
            margin-top: 0;
            color: white;
        }

        .footer a {
            color: white;
            text-decoration: none;
            display: block;
            margin: 5px 0;
            transition: color 0.3s ease-in-out;
        }

        .footer a:hover {
            color: #c0c0c0;
        }

        .social-icons a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-size: 20px;
            transition: transform 0.3s ease-in-out;
        }

        .social-icons a:hover {
            transform: scale(1.2);
            color: #c0c0c0;
        }

        .footer-bottom {
            width: 100%;
            margin-top: 20px;
            border-top: 1px solid #c0c0c0;
            padding-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
        }

        .footer-bottom p {
            margin: 5px 0;
            justify-content: space-between;
        }

        .footer-bottom img {
            width: 250px;
            padding: 50px;
        }

        .legal {
            text-align: center;
        }

        .legal a {
            color: white;
            text-decoration: none;
            margin: 2px 0;
        }

        .legal a:hover {
            color: #c0c0c0;
        }

        .ending {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
        }

        @media (max-width: 1200px) {
            .footer {
                flex-direction: column;
                align-items: center;
            }

            .footer-section {
                text-align: center;
            }

            .social-icons {
                justify-content: center;
                
            }

            .app-store img {
                width: 150px;
            }
        }

        @media (max-width: 768px) {
            .footer {
                padding: 10px;
            }

            .footer-section {
                margin: 5px 0;
            }

            .footer-bottom img {
                width: 200px;
                padding: 20px;
            }
        }

        @media (max-width: 480px) {
            .footer {
                padding: 10px;
            }

            .footer-section {
                margin: 5px 0;
            }

            .footer-bottom img {
                width: 150px;
                padding: 10px;
            }

            .ending a {
                display: block;
                margin: 5px 0;
                padding: 10px;
                text-decoration: none;
            }
        }
        .social-icons a{
          margin-right: 30px;
        }
    