/* import font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');






/* body code and head this is top*/
* {
    /* background-color: black; */
    margin: 0;
    padding: 0;
}

:root {
    --primary: #a63399;
    --secondary: #e66b70;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #eee;
    background-color: black;
    overflow: hidden;
}

/* nik code start */
/* header */
.header {
    width: 93%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 40px;
    z-index: 1000;
}
/* nav stlye will be here  */

#rtnav{
    position: relative;
    top: 0;
    /* left: 0; */
    right: 770px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 40px;
    z-index: 1000;
}
/* left nav top  */
#singup{
    position: relative;
    top: 0;
    left: 10;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 7px 40px;
    z-index: 1000;
}


nav ul {
    display: flex;
    gap: 30px;

}

nav ul li a {
    color: #eee;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: .4px;

}

nav li {
    font-size: 16px;
    font-family: sans-serif;
}

a:hover {
    color: var(--primary);
}

.logo img {
    height: 50px;
}

/* banner 1 */

.banner{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

}

/* swiper */

.swiper{
    height: 100%;
    width: 100%;
    z-index: 11 !important;

}

.swiper-slide{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* content */

.content{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 40px;
    position: relative;

}

.content >*{
    width: 50%;
    position: relative;
    height: 100%;

}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
}
#sub-title p{
    font-size: 20px;
    text-transform: capitalize;
}

.rating{
    margin: 50px 0p;
    font-size: 12px;
}
.rating span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}
.rating .fa-soild{
    color: yellow;
}
.navigation-btn{
    display: flex;
    gap: 25px;
}

/* swiper buttion (override) */

.swiper-button-prev,
.swiper-button-next{
    position: relative !important;
    color: #eee !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
    right: unset !important;
    left:  unset !important;
    top: unset !important;

}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: var(--primary);
}

/* change the defalut icon */
.swiper-button-next:after{
    content: "\f061" !important;
}

.swiper-button-prev:after{
    content: "\f060" !important;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    font-family: 'font Awesome 6 Free' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;

}


/* swiper pagination */

.swiper-pagination{
    height: 20px !important;
    bottom: 100px !important;
    width: 100%;

}

.swiper-pagination-bullet{
    width: 50px !important;
    background-color: #eee !important;
    place-content: .6;
    height: 3px !important;
    border-radius: 10px !important;
    margin: 0 3px !important;
}

.bannerSwiper .swiper-slide-active{
    animation: banner .4s;
}


.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: justify;
}

#desc{
    font-size: 15px;
    max-width: 300px;
    line-height: 1.3;
    margin: 40px 0;
}

/* buttons */

button{

    font-family: "Lato";
    background: transparent;
    border-radius: 25px;
    border: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 12px !important;
    cursor: pointer;
    transition: all .3s;

}

button >*{
    margin-right: 10px;
}
.btn-primary{
    background-image: linear-gradient(to left,
    var(--primary), var(--secondary));
    padding: 13px 45px;
    transition: all .7s;

}

.btn-primary:hover{
    scale: 1.1;
    background-image: none;
    border: 2px solid var(--primary);
    color: var(--primary);
}
.btn-sec{
    border: 2px solid #eee;
    padding: 10px 20px;
    margin-right: 10px;
}
.btn-sec:hover{
    background-color: rgba(0,0,0,.534);
    border-color: var(--primary);
    color: var(--primary);
}

/* Thumbs  */

.thumbsSwiper{
    box-sizing: border-box;
    padding: 10px 0;
    max-width: 90%;
    overflow-y: unset !important;

}

.thumbsSwiper .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 20px;
    
}
.thumbsSwiper .swiper-slide img{
    border-radius:15px ;

}
.thumbsSwiper .swiper-slide:hover{
    transform: translateY(-26);
}

/* Overlay */

.overlay{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    padding: 20px;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 1000000;
    animation: grow .7s;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay i{
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .7;
    transition: all .5s ease-in-out;

}
.overlay i:hover{
    color: var(--primary);
    rotate: 180deg;
    scale: 1.4;
    opacity: 1;
}

video{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* Animation */

@keyframes grow {
    0%{
        width: 0%;
        height: 0%;

    }
}
@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(300%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-130px);

    } 
    100%{
        opacity: 1;
        transform: translate(0);
    }   
}
@keyframes slideUp {
    0%{
        opacity: 0;
        transform:translateY(200%) ;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes banner {
    0%{
        transform: skew(30deg, 40deg) scale(55);
    }
}

/* nik code end here */